<h1>Relay states</h1>
<div ng-controller="relayStateViewCtrl">
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Relay</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="relay in relays">
        <td>{{ relay.name }}</td>
        <td>{{ relay.state }}</td>
    </tr>
  </tbody>
  </table>
   <button id="updatebutton" ng-click="updateModel()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbspUpdate</button>
</div>
